In [1]:
# Import SQLAlchemy and other dependencies here
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Float, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base
Base2 = declarative_base()

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import username
from config import password

In [3]:
connection_string = (f'postgresql://{username}:{password}@localhost:5432/Query_SQL')
engine = create_engine(connection_string)                     
connection = engine.connect()
connection

In [4]:
# Create DataFrames from each table in Database

df_titles = pd.read_sql_table("titles",connection)

df_departments = pd.read_sql_table("departments",connection)

df_employees = pd.read_sql_table("employees",connection)

df_salaries = pd.read_sql_table("salaries",connection)

df_dept_emp = pd.read_sql_table("dept_emp",connection)

df_dept_manager = pd.read_sql_table("dept_manager",connection)

In [5]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [6]:
# Collect the names of tables within the database
inspector.get_table_names()

['titles', 'employees', 'salaries', 'dept_emp', 'departments', 'dept_manager']

In [7]:
# Using the inspector to print the column names within the 'employees' table and its types
columns = inspector.get_columns('employees')
for column in columns:
    print(column["name"], column["type"])

emp_no INTEGER
emp_title_id VARCHAR
birth_date DATE
first_name VARCHAR
last_name VARCHAR
sex VARCHAR
hire_date DATE

In [8]:
#create employees class
class employees(Base2):
    __tablename__ = 'employees'
    
    emp_no = Column(Integer, primary_key=True)
    birth_date = Column(Date)
    first_name = Column(String)
    last_name = Column(String)
    sex = Column(String)
    hire_date = Column(Date)

In [9]:
session = Session(engine)

In [10]:
# print sums by sex
male = session.query(employees).filter_by(sex = 'M').count()
female = session.query(employees).filter_by(sex = 'F').count()

print(male)
print(female)

0
0

In [11]:
# Using the inspector to print the column names within the 'Salaries' table and its types
columns = inspector.get_columns('salaries')
for column in columns:
    print(column["name"], column["type"])

emp_no INTEGER
salary INTEGER

In [12]:
#create salaries class
class salaries(Base2):
    __tablename__ = 'salaries'
    emp_no = Column(Integer, primary_key=True)
    salary = Column(Integer)

In [13]:
#query the salaries table
x = session.query(salaries.salary)

In [14]:
# Plot the Results in a Matplotlib bar chart
df = pd.DataFrame(x, columns=['salary'])
a = np.array(df)
x = a[0:,0]

In [ ]:
fig, ax = plt.subplots(figsize=(12, 8))

# the histogram of the data
n, bins, patches = plt.hist(x, 12, facecolor='purple', alpha=0.75)

# Set the xlabel and ylabel using class methods
plt.xlabel('salary')
plt.ylabel('frequency')
plt.title('histogram of Employee Salaries')
plt.tight_layout()

plt.grid(True)
plt.show()
fig.savefig('Employee_Salary_Histogram.png')

In [16]:
# Using the inspector to print the column names within the 'titles' table and its types
columns = inspector.get_columns('titles')
for column in columns:
    print(column["name"], column["type"])

title_id VARCHAR
title VARCHAR

In [17]:
#create titles class
class titles(Base2):
    __tablename__ = 'titles'
    
    emp_no = Column(Integer, primary_key=True)
    title = Column(String)
    from_date = Column(Date)
    to_date = Column(Date)

In [18]:
# Create a DataFrame to store salary by title data from a query

query = "select title,avg(salary) as salary from salaries join employees on salaries.emp_no=employees.emp_no join titles on titles.title_id=employees.emp_title_id group by title order by salary desc;"
df_salary_title = pd.read_sql_query(query,connection)

In [ ]:
# Create Bar Chart of Average Salary by Title
plt.bar(df_salary_title["title"],df_salary_title["salary"],edgecolor="black")
plt.xticks(rotation=90)
plt.ylabel('Avg. Salary ($)')
plt.title('Avg. Salary by Title')
plt.xticks(rotation=45)

plt.show()

fig.savefig('Avg_Salary_Title.png')